<br>
<div class="container-fluid">
    {% if queryset %}
    <table class="table table-condensed table-bordered table-striped">
        <col width="30%">
        <col width="70%">
        <tbody>
            {% for row in queryset %}
            <tr>
                <td>{{ row.actor }}</td>
                <td>{{ row.timestamp }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
        <div class="">The API token for this service account has never been refreshed</div>
    {% endif %}
</div>
